<title>AG - QrCode</title>

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="icon" href="https://altogirolabs.s3.us-east-2.amazonaws.com/agcode/assets/images/site/favicon.ico">

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

<!-- Custom CSS -->
<style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
    * {
        font-family: Montserrat;
    }
    /* Small devices (tablets, 768px and up) */
    @media(min-width: 768px) {
        * {font-size: 24px;}
    }
    /* Small devices (desktops, 992px and up) */
    @media(min-width: 992px) {
        * {font-size: 20px;}
    }
    /* Small devices (large desktops, 1200px and up) */
    @media(min-width: 1200px) {
        * {font-size: 16px;}
    }
    body {
        margin-top: 1em;
        margin-left: -20px;
        margin-right: auto;
    }
    .container-center { 
        text-align: center; 
    }
    .container-filter {
        margin-bottom: 10px;
    }
    .container-item {
        margin-bottom: 10px;
    }
    .container-list {
        margin-bottom: 10px;
    }
    .textarea-comment {
        height: 100px;
    }
</style>