<div class="form-group container-center">
    <img src="https://altogirolabs.s3.us-east-2.amazonaws.com/agcode/assets/images/site/logo-commerce.png" width="150" height="50"/>
</div>

<h1 class="text-center">QR CODE</h1>
<hr>